<% if @image.show_comments.any? %>
<div class="comments">
  <ul>
    <% @image.show_comments.each do |comment| %>
    <li><%= link_to comment.say, user_path(comment.user_id) %><%= link_to '&#x2421;'.html_safe, image_comment_path(@image, comment), method: :delete, id: "delete_comment_#{comment.id}" %></li>
  <% end %>
</ul>
</div>
<% end %>
